name: Deploy Backend to ECS

on:
  push:
    branches:
      - main
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  deploy-backend:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        
      - name: Create prod appsettings.json
        run: |
          echo '{
            "ConnectionStrings": {
              "DefaultConnection": "'"${{ secrets.DEFAULTCONNECTION }}"'"
            }
          }' > appsettings.Production.json

      - name: Build, Tag, Push Backend Image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPO: candidateratingbackend
          IMAGE_TAG: latest
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPO:$IMAGE_TAG -f Dockerfile .
          docker push $ECR_REGISTRY/$ECR_REPO:$IMAGE_TAG

      - name: Render New Task Definition
        id: taskdef
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: backend-taskdef.json
          container-name: candidateratingbackendcontainer
          image: ${{ steps.login-ecr.outputs.registry }}/candidateratingbackendcontainer:latest

      - name: Deploy to ECS Service
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.taskdef.outputs.task-definition }}
          service: candidateratingbackendtaskdef-service-746ybruy
          cluster: candidateratingbackend
